$main-bg: #eee;
$border: #ccc;
$amber: #ffc107;
$remove: #c70000;
$check: #4bb543;

$category: #000000;
$category0: #9c27b0;
$category1: #cddc39;
$category2: #4caf50;
$category3: #ffeb3b;
$category4: #ffc107;
$category5: #9e9e9e;
$category6: #795548;
$category7: #ff5722;
$category8: #03a9f4;
$category9: #009688;
$category10: #e91e63;
$category11: #2196f3;
$category12: #8bc34a;
$category13: #3f51b5;
$category14: #00bcd4;
$category15: #b71c1c;
$category16: #607d8b;
$category17: #cfd8dc;
$category18: #e65100;
$category19: #ffd54f;
$category20: #e6ee9c;
$category21: #0277bd;
$category22: #1b5e20;
$category23: #424242;
