@import '../style/_variables';

section.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border;
  min-height: 50px;
  i {
    margin-right: 1rem;
    opacity: 0.5;
    cursor: pointer;
  }
  i:hover {
    opacity: 0.75;
  }
  div {
    display: flex;
  }
}

h1.Header {
  margin: 0;
  font-size: 3rem;
  font-family: 'Zen Loop', cursive;
}
