@import '../style/_variables';

li.Item {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  label span {
    line-height: initial !important;
    height: 21px !important;
    font-size: 16px !important;
  }
}

li.Item:not(:last-of-type) {
  border-bottom: 1px solid $border;
}

div.Item-edit {
  i {
    font-size: 20px;
    cursor: pointer;
  }
  i:nth-child(2) {
    margin-left: 0.5rem;
    color: $remove;
  }
  i:hover {
    opacity: 0.75;
  }
}

.Item-inputs {
  display: flex;
  align-items: center;
}
.Item-text {
  font-size: 16px !important;
  display: flex;
}
