@import '../style/_variables';

li.Item {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  label span {
    line-height: initial !important;
    height: 21px !important;
    font-size: 16px !important;
  }
}

li.Item {
  border-bottom: 1px solid $border;
}

[class*='Item-Category']:first-child {
  margin-top: 0;
}

div.Item-edit {
  i {
    font-size: 20px;
    cursor: pointer;
  }
  i:nth-child(2) {
    margin-left: 0.5rem;
    color: $remove;
  }
  i:hover {
    opacity: 0.75;
  }
}

.Item-inputs {
  display: flex;
  align-items: center;
}
.Item-text {
  font-size: 16px !important;
  display: flex;
}

[class*='Item-Category'] {
  display: block;
  margin-top: 2rem;
}

.Item-Category ~ .Item-Category,
.Item-Category0 ~ .Item-Category0,
.Item-Category1 ~ .Item-Category1,
.Item-Category2 ~ .Item-Category2,
.Item-Category3 ~ .Item-Category3,
.Item-Category4 ~ .Item-Category4,
.Item-Category5 ~ .Item-Category5,
.Item-Category6 ~ .Item-Category6,
.Item-Category7 ~ .Item-Category7,
.Item-Category8 ~ .Item-Category8,
.Item-Category9 ~ .Item-Category9,
.Item-Category10 ~ .Item-Category10,
.Item-Category11 ~ .Item-Category11,
.Item-Category12 ~ .Item-Category12,
.Item-Category13 ~ .Item-Category13,
.Item-Category14 ~ .Item-Category14,
.Item-Category15 ~ .Item-Category15,
.Item-Category16 ~ .Item-Category16,
.Item-Category17 ~ .Item-Category17,
.Item-Category18 ~ .Item-Category18,
.Item-Category19 ~ .Item-Category19,
.Item-Category20 ~ .Item-Category20,
.Item-Category21 ~ .Item-Category21,
.Item-Category22 ~ .Item-Category22,
.Item-Category23 ~ .Item-Category23 {
  display: none;
  margin-top: 0;
}
