section.Main {
  display: flex;
  margin-top: 1rem;
  button {
    margin-left: 1rem;
  }
}

input.Main,
input.Main:focus {
  margin: 0 !important;
  box-shadow: none !important;
  border-bottom: none !important;
}
input.Main {
  background-color: #fff !important;
  height: initial !important;
  padding: 0.5rem !important;
  // border-radius: 999px !important;
}

span.Main {
  font-size: 0.7rem;
}

span.Main-sorting {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  i {
    margin-left: 0.2rem;
    font-size: 14px;
  }
}

ul.Main {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
