section.Main {
  display: flex;
  margin-top: 1rem;
  button {
    margin-left: 1rem;
  }
}

input.Main,
input.Main:focus {
  margin: 0 !important;
  box-shadow: none !important;
  border-bottom: none !important;
}
input.Main {
  background-color: #fff !important;
  height: initial !important;
  padding: 0.5rem !important;
  // border-radius: 999px !important;
}
