@import '../style/_mixins';

main {
  @include fixed-main;
  div.Settings-wrapper {
    @include fixed-wrapper;
    span {
      display: block;
      margin-top: 0.5rem;
    }
    div {
      display: flex;
      button {
        margin-left: 1rem;
      }
    }
  }
}

h2.Settings {
  @include h2;
}

input.Settings,
input.Settings:focus {
  @include input-focus;
}
input.Settings {
  @include input;
}

i.Settings-close {
  @include close-icon;
}
