@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Zen+Loop&display=swap');

@import './style/_variables';

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: $main-bg;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  padding: 1rem;
}

[type='checkbox'].filled-in:checked + span::after {
  border: 2px solid $amber !important;
  background-color: $amber !important;
}

[contenteditable] {
  padding: 0.2rem;
}
[contenteditable='true'] {
  background: #fff;
}
[contenteditable='true']:focus {
  outline: 0;
}

button.btn-floating i {
  width: initial !important;
  padding: inherit !important;
}
